body{
	background-color: black;
}

/* This isn't working for some reason */
.workspace{
	background-image: url("img/bg.png");
}

.headerlogo{
	width: 30px;
	height: 30px;
}

.card{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.card-title{
	color: #ffffff;
}

.btn-group-wide, .btn-thin, .btn-wide{
	width: 100%;
}

.btn{
	padding: 0px;
}

.btn-default{
	background-color: inherit; 
}

.bottom{
	margin-bottom: 0;
	color: #ffffff;
}

.link-button{
	color:#f4f4f4;
	font-size: 12px;
}

.link-button:hover{
	color:#000000;
	font-size: 12px;
	text-decoration: none;
}

.material-icons{
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
}

.metadata-field-type, .metadata-field-select{
	padding-bottom: 5px;
	margin-bottom: px;
	margin-top:1px;
}

.forgeObject .card-body .row{
	width: 100%;
	margin: auto;
}

.metadata-field-type *{
	height: 20px;
	font-size: 12px;
}

.metadata-field-select button, .btn-thin{
	height: 20px;
	font-size: 12px;
}

hr.underline{
	margin-top: -9px;
	margin-bottom: 7px;
	border-top: 2px solid black;
}

.col-md-3, .col-md-4, .col-md-6, .col-md-8{
	padding-right: 0px;
		padding-left: 0px;
}

.forgeScript{
	background: #343a40;
	color: #ffffff;
	padding: 4px;
	margin-top: 2px;
}

.forgeAction{
	background: #6c757d;
	color: #ffffff;
	font-size: 11px;
	padding: 4px 4px 0 4px;
	margin-top: 2px;
}

.scriptNumber{
	font-size: 15px;
	padding-left: 4px;
	padding-top: 1px;
}

.actionNumber{
	padding: 4px 0;
	font-weight: bold;
}








