@charset "utf-8";

/*	
		Halo 5: Forge Scipting Web Tool v 0.0.1
		Authors: Carson Barry
*/

html {
	font-family: Courier, sans-serif
}

/* Structural Styles */

body {
	max-width: 100%;

	background-color: black;
}


/*Header*/
	header {
		max-width: 100%;
		height: 137px;
		background-color: black;
		color: white;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
				/**** TEMPORARY OUTLINES MOFOS!!! ****/
				outline: 1px dotted red;
	}
	

	header div.logoType {
		font-size: 30px;
		max-width: 30%;
		color: white;
		background-color: black;
	}

			/**** TEMPORARY OUTLINES MOFOS!!! ****/
			header div.logoType {
				outline: 1px dotted green;
			}

	

	/*Site Navigation*/
		header nav {
			position: absolute;
 			right: 18px;
 			top: 20px;
		 	list-style-type: none;
		}

				/**** TEMPORARY OUTLINES MOFOS!!! ****/
				header nav {
					outline: 1px dotted cyan;
				}
				header nav ul > * {
					outline: 1px dashed green;
				}
				header nav ul a {
					outline: 1px solid red;
				}

		header nav ul {
			max-width: 580px;
			min-width: 30%;
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color: black;
		}

		header nav ul li {
		    float: left;
		}

		header nav ul li a {
			min-width: 25%;
			font-size: 1
			4px;
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 5px 10px;
		    text-decoration: none;
		}

		/* Change the link color to #111 (black) on hover */
		header nav ul li a:hover {
		    background-color: #333;
		}

	/*File Menu*/
		div.fileMenu {
			float: left;
		 	list-style-type: none;
		    margin: 0;
		    padding: 0;
		}

				/**** TEMPORARY OUTLINES MOFOS!!! ****/
				div.fileMenu {
					outline: 1px dotted white;
				}
				div.fileMenu ul li {
					outline: 1px dashed yellow;
				}

		div.fileMenu ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color: black;
		}

		div.fileMenu ul li {
		    float: left;
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 5px 5px;
		    text-decoration: none;
		}

		div.fileMenu li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 5px 5px;
		    text-decoration: none;
		}

		/* Change the link color to #111 (black) on hover */
		div.fileMenu ul li:hover {
		    background-color: #333;
		}

	div.fileName {
		float: right;
		margin: 5px;
	}

			/**** TEMPORARY OUTLINES MOFOS!!! ****/
			div.fileName {
				outline: 1px dotted yellow;
			}
			div.fileName > * {
				outline: 1px dashed red;
			}

	div.fileName form {
		display: inline;
	}

header hr {

	clear: both;
	top: 60px;
	margin: 0;
			/**** TEMPORARY OUTLINES MOFOS!!! ****/
			outline: 2px dotted purple;
}

article {
	padding-top: 10px;
	background-color: black;
	width: 100%;
	height: 100px;
			/**** TEMPORARY OUTLINES MOFOS!!! ****/
			outline: 1px dotted orange;
}